body{
  background-color: grey;
}
div.sidebar{
  float: right;
  width: 17.5%;
  background-color: grey;
  font-family: sans-serif;
  height: auto;
}
div.mainmenu{
  list-style-type: none;
  width: 100%;
  background-color: grey;
  font-family: sans-serif;
  text-align: left;
  height:50px;

}
div.layut{
  height: auto;
  margin: 0;
  padding: 0;
  width: 82.5%;
  background-color: grey;
}
div.background{
  height: auto;
  margin: 0;
  padding: 0;
  width: 82.5%;
  background-color: grey;
}
img.frem{
  height: 100px;
  width: 100px;
}
h1{
  font-style: normal;
}
.educ{
  font-style: italic;
  background-color: white;
  margin-right: auto;
}
span.name{
font-style: italic;
color: red;
}
p.welcome{
  font-family: fantasy;
  font-style: oblique;
}
p.last{
  font-size: 20px;
  font-style: italic;
}
p{
  margin: 0px;
}
